* {
    padding: 0px;
    margin: 10px;
    background-color: lightgray;
}

body {
    padding: 0px;
    margin: 0px;
}


article {
    border: 1px solid lavender;
    box-shadow: 2px 2px 5px lavender;
    margin: 3em;
    padding: 1em;
}

Section {
    background-color: darkolivegreen;
}

footer {
    clear: both;
    text-align: center;
    margin: 2em;
    padding: 2em;
}

iframe {
    align-content: center;
    border: double 10px olive;
}

.card {
    align-content: center;
    border: 10px olive;
}

header {
    border: double 10px olive;
    background-color: darkolivegreen;
    font-family: sans-serif;
    height: 120px;
    padding: 0;

}


h1 {
    font-kerning: 15 px;
    text-align: center;
    font-variant-caps: normal;
    font-family: fantasy;
    color: black;
    background-color: darkolivegreen
}


h2 {
    font-kerning: auto;
    text-align: center;
    font-variant-caps: normal;
    color: black;
    background-color: darkolivegreen
}

h3 {
    text-align: center;
    font-variant-caps: normal;
    border: 3px;
    background-color: olive;

}

h4 {
    text-align: center;
    font-variant-caps: normal;
    border: 3px;
    background-color: darkolivegreen;
    font-size: 25px
}

h5 {
    text-align: center;
    font-variant-caps: normal;
    font-size: 15px
}

h6 {
    text-align: center;
    font-variant-caps: normal;
    font-size: 50px
}

li {
    margin: 5px 3em;
    padding: 0px;
    list-style: circle
}


.pquote {
    float: left;
    width: 355px;
    color: olive;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    align-content: space-around;
    float: right;
    margin: 5px;
    word-wrap: normal;
    border: double 10px olive;
}

.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}
